# Empty Strings are ignored or equivalent to false
LANG=ja_JP.UTF-8
NOSTEAM=False
CACHEDIR=
MODFOLDERS=workshop,steam,mods
DEBUG=False
ADMINUSERNAME=admin
ADMINPASSWORD=ChangeMePlease
SERVERNAME=
SERVERPRESET=
IP=
PORT=16261
STEAMVAC=True
STEAMPORT1=
STEAMPORT2=
MEMORY=2048m
SOFTRESET=False
FORCEUPDATE=0
FORCESTEAMCLIENTSOUPDATE=1
# Use legacy41 for Build 41, or leave empty for the current Stable branch.
STEAM_BETA=legacy41
MOD_IDS=
WORKSHOP_IDS=
MAP_IDS=
